@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hi there</h1>
    <a asp-action="Expense" class="btn btn-primary"> Overview</a>
    <a asp-action="CreateEditExpense" class="btn btn-secondary"> Create new</a>
</div>

